.footer-container {
    row-gap: 59px;
    margin-bottom: 64px;
}
.footer-top-container {
    width: 1140px;
    height: 198px;
    margin: auto;
}
.footer-item-social {
    width:127.96px;
    height: 20px;
}
.footer-item-left {
    width: 213px;
    height: 153px;
}
.footer-item-heading h3 {
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
    margin:0;
}
.footer-item-left-paragraph p {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin:0;
    color: var(--text-grey);
}
.footer-item-second {
    height: 198px;
}
.footer-item-second-list {
    height: 150px;
}
.footer-item-third {
    height: 180px;
}
.footer-item-third-list {
    height: 132px;
}
.footer-item-right {
    width: 389px;
    height: 173px;
    row-gap: 22px;
}
.footer-item-right-paragraph p{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--text-grey);
}
.footer-sign form{
    width: 100%;
    height: 52px;
    position: relative;
    background-color: var(--sign-background);
}
.footer-sign input {
    font-size: 16px;
    line-height: 26px;
    height: 52px;
    margin-left: 21px;
    border:none;
    background-color: transparent;
    color: var(--sign-text);
    border: none;
}
.btn-subscribe {
    position: absolute;
    right:0;
    top:0;
    margin: auto;
}
.footer-bottom {
    width: 1140px;
    margin: auto;
    position: relative;
    justify-content:center;
    height: 56px;
    border-top: 2px solid var(--bottom-border);
}
.footer-rights {
    position:absolute;
    bottom: 0;
}
