.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.d-iblock {
    display: inline-block;
}
.margin-box {
    width:100%;
    height:500px;
}