.grid {
    width: 90%;
    margin: auto;
}
img {
    width:100%;
    height:100%;
    object-fit: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 350px);
    grid-gap: 20px;
} 
.grid-item-1 {
    grid-column: 1 / span 2;
}
.grid-item-2 {
    grid-column:  3 / span 1;
    grid-row: 1 / span 2;
}
.grid-item-6 {
    grid-column: 2 / span 2;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item-1 {
        grid-column: 1 / span 2;
    }
    .grid-item-2 {
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    .grid-item-6 {
        grid-column: 2 / span 1;
    }
    
}

@media (max-width: 550px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .grid-item-1 {
        grid-column: 1 ;
    }
    .grid-item-2 {
        grid-column: 1;
        grid-row: 1;
    }
    .grid-item-6 {
        grid-column: 1;
    }
    
}