@import './styles/variables.css';
body {
    background-color: #FCFEFF;
}
.slogan {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width:100%;
    height:240px;
    font-size: 40px;
    font-weight: bold;
    color: #3D6177;
    resize: both;
    line-height: 70px;
    text-align: center;
    margin-bottom: 30px;
}
.subscription-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:350px;
    height: 70px;
    box-sizing: border-box;
    margin:auto;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #C5DDDD;
    background-color: white;
}
.subscription-form-container input {
    width: 200px;
    height:20px;
    border: 1px solid white;
    font-size: 20px;
}
.subscription-form-container button {
    width:100px;
    height: 40px;
    color: white;
    border-radius:10px;
    font-size: 20px;
    border: 1px solid white;
    background-color: #3D6177;
    cursor: pointer;
}

.recommendation {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: auto;
    max-height: 300px;
    font-size: 26px;
    color: #414D4D;
    line-height:150%;
    background-color: #C5DDDD;
}
.rec-text  {
    width:600px;
    height:auto;
    max-height: 300px;
}
.rec-text p{
    float:left;
    font-style: italic;
}
.rec-text .author {
    font-weight: bold;
}
.recommendation img {
    width:300px;
}

.statistics-container{
    color: #414D4D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
    width:100%;
    height:260px;
    background-color: #F6F6F6;
}
.statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    height:200px;
}
.statistics-item {
    max-width: 120px;
}
.statistics-image {
    width:120px;
    height: 120px;
    background-color:white;
    border-radius: 50%;
}

.statistics-item img {
    width:80px;
}
.statistics-text {
    margin-top: 10px;
    text-align: center;
}