@import './global.css';
@import './reset.css';
@import './flexbox.css';
@import './footer.css';
@import './home.css';
@import './head.css';
@import './homeblog.css';
@import './subscription.css';
@import './gallery.css';