* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans Condensed';
    margin:0;
}
.body-container {
    min-height: calc(100vh - 80px - 80px);
}
a {
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid var(--steel);
    transform: scale(1.2) ease;
}
.center-relative {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}