.plan {
    width: 300px;
    border: 1px solid #3D6177;
    border-radius: 20px;
    overflow: hidden;
    font-size: 15px;
    color: #3D6177;
    margin:25px;
}
.plan-header {
    padding:25px;
    background-color: #3D6177;
    color: white;
}
.plan-title {
    margin: 0;
    text-align: center;
}
.plan-content {
    font-size: 16px;
    text-align: center;
}
.plan-deescription {
    padding: 25px;
}
.price-list {
    padding:20px;
    margin:0;
}
.plan-feature {
    color: #3D6177;
    list-style: none;
    margin:0;
    padding-left: 25px;
    position: relative;
}
.plan-feature:not(:last-child) {
    margin-bottom: 0.5em;
}
.plan-feature::before {
    content: "\2714";
    position: absolute;
    left:0;
}
.plan-section {
    padding:25px;
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: column;
}
.plan-section .button {
    display: inline-block;
    margin: 15px auto;
    padding: 8px 20px;
    text-decoration: none;
    color: #3D6177;
    background: white;
    border-radius: 15px;
    border: 1px solid #3D6177;
    text-transform: uppercase;
}

.plan-section .button:hover {
    background: #3D6177;
    color:white;
}

.cost {
    margin:0;
    text-align: center;
    font-size: 32px;
}
.text {
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 24px;
}