:root {
    --gray: #6c757d;
    --darkgrey: #9ba6a5;
    --green: #648C51;
    --green2: #9fd3c7;
    --lightgreen: #90A67B;
    --darkgreen: #3D592F;
    --mediumgreen: #a7bcb9;
    --gold: #DEA800;
    --lightblue:  #385170;
    --darkblue: #142d4c;
    --mediumblue: #113f67;
    --steel: #A8C0CE;
}