.banner-container {
    height: 849px;
    width: 100%;
    margin: auto;
    margin-top: 21px;
}

.banner-text {
    width: 616px;
    height: 239px;
    margin-left: 104px;
}

.banner-image-container {
    width: 653px;
    height: 849px;
    position: relative;
}

.banner-dots {
    width: 56.81px;
    position: absolute;
    bottom: 88.95px;
    margin: auto;
    left:396px;
}


.reason-container {
    width: 1117px;
    height: 699px;
    margin: auto;
    row-gap: 106px;
    margin-top:173px;
}
.reason-head{
    row-gap: 9px;
}
.reason-item-paragraph {
    width: 243px;
    height: 168px;
    margin: auto;
    background-color: var(--container-background-grey-dark);
}

.reason-item-heading {
    row-gap: 3px;
}
.reason-item-dark-medium .reason-item-heading  {
    margin-top:35px;
}
.reason-item-dark-large .reason-item-heading  {
    margin-top:38px;
}
.reason-item-dark-small .reason-item-heading  {
    margin-top:25px;
}
.reason-item-container {
    width: 1117px;
    height: 612px;
    align-items: baseline;
}
.reason-item-subcontainer-medium {
    width: 307px;
    height:417px;
    position: relative;
}
.reason-item-subcontainer-large {
    width: 307px;
    height:514px;
    position: relative;
}.reason-item-subcontainer-small {
    width: 307px;
    height:306px;
    position: relative;
}


.subscription-container {
    width: 1116px;
    height: 704px;
    margin: auto;
    row-gap: 124px;
    margin-top: 270px;
}
.subscription-item-subcontainer {
    width: 343px;
    height: 512px;
    row-gap: 57px;
}
.subscription-head {
    row-gap: 9px;
}
.subscription-heading {
    column-gap: 12px;
}
.subscription-item-heading {
    width: 287px;
    row-gap: 8px;
    height: 108px;
    margin: 0 auto;
}
.subscription-price {
    width: 287px;
    row-gap: 8px;
    height: 39px;
    margin: 0 auto;
}
.subscription-plan-container  {
    width: 318px;
    row-gap: 16px;
}
.subscription-paragraph  {
    width: 287px;
    height: 32px;
}
.subscription-item {
    width: 313px;
    margin: 0 auto;
    margin-bottom: 57px;
    margin-top: 57px;
    row-gap: 57px;
}

.contact-container {
    width: 1071px;
    height: 750px;
    margin: auto;
    margin-bottom: 65px;
    margin-top: 308px;
    row-gap: 92px;
}
.contact-item-container {
    width: 1071px;
    height: 580px;
    background-color: var(--container-background-grey);
    border-radius: 30px;
}
.contact-heading {
    column-gap: 10px;
    margin: 0 auto;
}
.contact-head {
    row-gap: 9px;
}
.contact-map iframe{
    width:469px;
    height: 469px;
    border-radius: 50%;
}
.contact-map {
    width:489px;
    height: 489px;
    border-radius: 50%;
    background: var(--gradient-map);
    margin-right: 65px;

}
.contact-item {
    margin-left: 65px;
}
.contact-info {
    row-gap: 10px;

}
.contact-info-item {
    height: 62px;
    column-gap: 20px;
}
.footer-container {
    width: 100%;
    height:146px;
    background-color: black;
}
.footer-logo {
    justify-content: baseline;
    height: 54px;
}
