:root {
    --purple : #8348FF;
    --header-black: #1C1C1C;
    --dot-green: #00F0FF;
    --container-background-grey: #212121;
    --container-background-grey-dark: #1B1B1B;

    --button-purple:#6937F6;
    --button-pink:#F637AA;
    --shadow-purple: #DC4EFF;
    --shadow-pink: #F637AA;

    --shadow-green: #3CFFDC;
    --shadow-blue: #444BFF;

    --shadow-orange: #FF8642;
    --shadow-orange-dark: #FF3535;

    --button-purple: #6937F6;
    --button-pink: #F637AA;

    --linear-purple: linear-gradient( to right, var(--shadow-purple), var(--shadow-pink) ); 
    --gradient-map: linear-gradient( to bottom, #FF5F5F, #FFB0B0 ); 
}

.gradient-red-map {
    color: linear-gradient (#FF5F5F 0% #FFB0B0 100%)
}
.clear {
    background-color: var(--container-background-grey-dark);
}
.b-light {
    background-color: var(--container-background-grey);
}