* {
    margin: 0;
    padding:0;
    font-family: 'Montserrat';
    color: white;
}
body {
    width: 100%;
    background-color: rgb(14, 13, 13);
    background-image: url('../assets/icons/circl.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 870px;
}
a {
    text-decoration: none;
    color: white;
}
p, h1, h2, h3, h4, h5, h6, span {
    margin: 0;
}