* {
    font-family: 'Poppins';
}
body {
    background-color: #eec0c6;
    background-image: linear-gradient(130deg, #eec0c6 0%, #e58c8a 94%);
}

.registration-form-container{
    width:80%;
    box-sizing: border-box;
    margin:auto;
    margin-top:25px;
    text-align: center;
}
.registration-form-container .text-input-label {
    display: block;
    text-align: start;
    color: var(--darkgrey);
    font-size: 11px;
}
.registration-form-container .input-text {
    height:30px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--grey);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    color: grey;
}
.btn{
    display: block;
    width: 100px;
    height: 34px;
    text-align: center;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}
.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary {
    background-color:#6E6CE0 ;
    color: white;
    margin-bottom: 15px;
}
.btn-primary:hover {
    opacity: 85%;
}
.sign-up-form-container {
    width:80%;
    min-height: 300px;
    box-sizing: border-box;
    text-align: center;
    border-right-style:solid; 
    border-right-width: 1px;
    border-image: radial-gradient(grey, white) 1;
    
}
.sign-up-form-title {
    font-size:9px;
    font-weight: bold;
    color: grey;
}
.sign-up-form-title h1:hover {
    border-bottom-style:solid; 
    border-bottom-width: 1px;
    border-image: radial-gradient(#6E6CE0, #c0bfdf) 1;
    color:#6E6CE0;
}

.social-sign-up-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width:80%;
    box-sizing: border-box;
    text-align: center;
}
.social-sign-up p {
    color:grey;
    font-size: 11px;
    
}
.social-option {
    color:#6E6CE0;
    font-size: 14px;
    width:60%;
    height:35px;
    margin: 10px auto;
    border: 1.5px solid #6E6CE0;
    border-radius: 8px;
    line-height: 40px;
}
.social-option img {
    margin: 0 10px;
    width:25px;
    height:25px;
}

.terms {
    width:60%;
    margin: auto;
}
.terms p {
    color: grey;
    font-size: 10px;
}
.terms span {
    text-decoration: underline;
}
.parent-sign-up-form { 
    height:auto;
    margin: auto auto;
    border-radius: 20px;
    
}
.main-container {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width:45%;
    height:auto;
    box-shadow: 0 0 0 1.5em var(--grey);
    border-radius: 20px;
    opacity: 80%;
}
.flower img{
    width:80%;
}
.ornament {
    position:absolute;
    bottom:50px;
}
.help {
    text-align: center;
    width:200px;
    height:60px;
    position:absolute;
    bottom:10px;
    left:0;
    background-color: #e58c8a;
    border-radius: 15px;
    opacity: 80%;
    animation: help 3s ease-in 2s 2;
}
@keyframes help {
    0%   {background-color:#e58c8a; left:0px; bottom:10px;}
    25%  {background-color:#eec0c6; right:100px; bottom:40px;}
    100% {background-color:#e58c8a; left:0px; bottom:10px;}
}
@media screen and (max-width: 768px) {
    .parent-sign-up-form {
        display:block;
        text-align: center;
    }
    .sign-up-form-container {
        width:100%;
        border:none;
    }

    .social-sign-up-container {
        width:100%;
        margin:0;
    }
    .flower {
        display: none;
    }
    .help {
        width:150px;
        height:60px;
    }
}
@media screen and (max-width: 576px) {
    .social-option img {
        display: none;;
    }
    .social-option {
        font-size: 10px;
        width:45%;
        height:22px;
        margin: 4px auto;
        border-radius: 6px;
        line-height: 20px;
    }
    .help {
        width:110px;
        height:60px;
    }
}
