body {
    margin:0;
}

.explore-button {
    width: 80%;
    height:180px;
    background-color: var(--green);
    border-radius: 28px;
    
}
.explore-button button {
    align-items: center;
    color:white;
    font-size: 50px;
    font-weight: 400;
    background-color: transparent;
    border:none;

}
.offer-button {
    width: 188px;
    height: 67px;
    background-color: var(--green);
    color: white;
}
.make-button {
    width: auto;
    height: auto;
    background-color: var(--green);
    color:white;
    font-size: 44px;
    border-radius: 50px;
    padding: 5px 50px;
}
.make-button a {
    text-decoration: none;
    color:white;
}
.bid-button {
    width: auto;
    height: auto;
    background-color: var(--blackish);
    color:white;
    font-size: 44px;
    border-radius: 50px;
    padding: 5px 50px;
}
.bid-button a{
    text-decoration: none;
    color:white;
   
}
.bid-button a:hover {
    text-decoration: none;
    background-color: transparent;
}
.art-button {
    padding: 20px 50px;
    width: auto;
    height:auto;
    background-color: var(--green);
    border: 1px solid var(--darkgrey);
    color: white;
    font-size: 36px;
    border-radius: 30px;
}
.categories-button {
    padding: 20px 50px;
    width: auto;
    height:auto;
    color: var(--blackish);
    border: 1px solid var(--darkgrey);
    border-radius: 30px;
    font-size: 36px;
}
.exit img {
    background-color: white;
    padding:20px;
    border: 1px solid var(--darkgrey);
    border-radius: 20px;
    width:90px;
    transform: rotate(180deg);
}
.little-button {
    width: 48px;
    height: 46px;
    border-radius: 12px;
}
.favorite-button {
    width: 145px;
    height: auto;
    background-color: var(--green);
    border-radius: 60px;
}
.favorite-button img {
    width:80px;
}
.favorite-button img {
    background-color: transparent;
}

.dot-1 {
    height: 32px;
    width: 32px;
    background-color: var(--darkgrey);
    border-radius: 50%;
    position: absolute;
    top:70px;
    left:45%;
}
.dot-2 {
    height: 32px;
    width: 32px;
    background-color: var(--grey);
    border-radius: 50%;
    position: absolute;
    top:70px;
    left:50%;
}
.dot-3 {
    height: 32px;
    width: 32px;
    background-color: var(--grey);
    border-radius: 50%;
    position: absolute;
    top:70px;
    left:55%;
} 


.crypto img {
    padding:20px 30px;
    border-radius: 50%;
    width:40px;
    background-color: var(--green);
}

.search img {
    padding:20px;
    border: 1px solid var(--darkgrey);
    border-radius: 20px;
    width:80px;
}

.notification img {
    padding:20px;
    border: 1px solid var(--darkgrey);
    border-radius: 20px;
    width:80px;
}
