
.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.d-grid {
    display: grid;
}